# This is a MakeHuman target originally developed by Manuel Bastioni.
#
# Original copyright (C) 2014 Manuel Bastioni 
#
# The copyright was explicitly transfered to other team members in 2016.
#
# Copyright (C) 2017 Data Collection AB, https://www.datacollection.se
# Copyright (C) 2017 Joel Palmius 
# Copyright (C) 2017 Jonas Hauquier
#
# The primary legal contact for MakeHuman is Data Collection AB.
#
# For more information, see homepage at http://www.makehuman.org
#
# This file is licensed AGPLv3
#
#    This file is part of MakeHuman (www.makehuman.org).
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# basemesh hm08
6840 0 0 0
6877 -.002 .003 0
6908 0 .002 0
6910 0 .002 0
6914 0 .004 0
6933 -.005 .006 0
6943 -.001 .002 0
6944 -.001 .008 0
6945 0 .009 0
6947 -.002 .003 0
6950 -.009 .016 0
6951 -.002 .002 0
6953 -.009 .017 .007
6956 -.014 .032 .011
6957 -.007 .011 0
6980 -.002 .02 0
6983 -.011 .05 .006
6984 -.004 .025 0
6995 -.002 .016 0
6996 0 .002 0
6997 -.001 .023 0
7001 -.003 .032 0
7002 0 .004 0
7003 0 .022 0
7006 -.005 .045 0
7007 -.002 .042 0
7008 .003 .042 -.001
7009 0 .038 0
7014 -.001 .012 -.002
7015 0 .013 -.001
7020 0 .002 0
7436 0 .007 -.001
7598 0 0 0
10415 0 .007 0
10416 -.002 .019 -.002
10417 0 .017 0
11513 0 .002 0
11804 0 .003 0
11805 -.001 .009 -.002
11873 -.002 .034 -.001
11923 0 .015 0
11924 0 .027 0
