# MakeHuman 3d morphing modelled by Manuel Bastioni
# Copyright (C) 2013 Manuel Bastioni (mb@makehuman.org)
# license AGPL3 (see also http://www.makehuman.org/node/320)
# homepage http://www.makehuman.org
# basemesh hm08
