@import url("default.css");
 
html, body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', 'Trebuchet MS', sans-serif !important;
}
 
html,
.bodywrapper,
.documentwrapper,
.footer,
.footer a,
.related,
.related ul,
.related ul li a  {
    background-color: #c0c0cf !important;
    color:#808080 !important;
}
 
.related ul {
  max-width:900px; margin-left:250px !important; font-size:smaller
}
.related ul a {  background-color: transparent !important;}
 
.body {
  -moz-box-shadow:0px 0px 12px #666;
  -webkit-box-shadow:0px 0px 12px #666;
  box-shadow:0px 0px 12px #666;
  margin:0px 25px 0px 0px;
  border:9px solid white;
  -moz-border-radius:14px;
  -webkit-border-radius:14px;
  border-radius:14px;
  max-width:900px;
}
 
.sphinxsidebar a,
.sphinxsidebar h3,
.sphinxsidebar h4,
.sphinxsidebar h5 { color:#555 !important } 
.sphinxsidebar .searchtip { color:black; }
.sphinxsidebar { 
  -moz-box-shadow:0px 0px 12px #666;
  -webkit-box-shadow:0px 0px 12px #666;  
  -moz-border-radius:14px;
  -webkit-border-radius:14px;
  border-radius:8px;
  box-shadow:0px 0px 12px #666;   
  border:9px;
  margin:10px 25px 0px 0px;  
  background-color:white;
  max-width:200px;
}
 
.body h1,
.body h2,
.body h3,
.body h4,
.body h5,
.body h6 {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left:0 !important;
  background-color: white !important;
}
 
.body h1 { padding-top:17px !important; }
 
.section .section { margin-left:14px }
 
.class big { font-size:85%; }
.class em { font-size:85%; }
 
.class .property,
.class .descclassname,
.class .descname { font-size:100%; line-height:100%; }
 
.class .property {
   font-style:normal;
   font-weight:bold;
   color:#1D599F;
}
 
.descclassname { font-size:100% !important; font-family: Tahoma; }
.descname { color:#041F3F; font-size:100% !important; font-family: Tahoma; }
 
dl.method::before {
    content:"def";
    float:left; margin-right:0.5ex;
    font-weight:bold; color:#222;
}
 
dl.attribute::before {
    content:"@property";
    font-size:85%;
    float:left; margin-right:0.5ex;
    font-style:italic;
}
 
dd > p { font-size:85%; }
