# This is a MakeHuman target originally developed by Manuel Bastioni.
#
# Original copyright (C) 2014 Manuel Bastioni 
#
# The copyright was explicitly transfered to other team members in 2016.
#
# Copyright (C) 2017 Data Collection AB, https://www.datacollection.se
# Copyright (C) 2017 Joel Palmius 
# Copyright (C) 2017 Jonas Hauquier
#
# The primary legal contact for MakeHuman is Data Collection AB.
#
# For more information, see homepage at http://www.makehuman.org
#
# This file is licensed AGPLv3
#
#    This file is part of MakeHuman (www.makehuman.org).
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# basemesh hm08
56 0 0 0
93 .002 .003 0
124 0 .002 0
126 0 .002 0
130 0 .004 0
155 .005 .006 0
166 .001 .002 0
167 .001 .008 0
168 0 .009 0
171 .002 .003 0
174 .009 .016 0
175 .002 .002 0
177 .009 .017 .007
180 .014 .032 .011
181 .007 .011 0
205 .002 .02 0
208 .011 .05 .006
209 .004 .025 0
221 .002 .017 0
222 0 .002 0
223 .001 .023 0
228 .003 .035 0
229 0 .004 0
230 0 .022 0
233 .005 .045 0
235 .002 .042 0
236 -.003 .042 -.001
238 0 .039 0
243 .001 .012 -.002
245 0 .013 -.001
250 0 .002 0
713 0 .007 -.001
896 0 0 0
3747 0 .007 0
3748 .002 .019 -.002
3749 0 .017 0
4895 0 .002 0
5193 0 .003 0
5194 .001 .009 -.002
5265 .002 .034 -.001
5318 0 .015 0
5319 0 .032 0
