# This is a MakeHuman target originally developed by Manuel Bastioni.
#
# Original copyright (C) 2014 Manuel Bastioni 
#
# The copyright was explicitly transfered to other team members in 2016.
#
# Copyright (C) 2017 Data Collection AB, https://www.datacollection.se
# Copyright (C) 2017 Joel Palmius 
# Copyright (C) 2017 Jonas Hauquier
#
# The primary legal contact for MakeHuman is Data Collection AB.
#
# For more information, see homepage at http://www.makehuman.org
#
# This file is licensed AGPLv3
#
#    This file is part of MakeHuman (www.makehuman.org).
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# basemesh hm08
184 0 0 -.004
203 0 0 -.002
288 0 0 -.003
337 0 0 -.001
358 0 0 -.002
372 0 0 -.004
376 0 0 -.004
711 0 0 -.001
900 0 .004 -.018
5049 0 .003 -.015
5051 0 0 -.005
5056 0 0 -.001
5059 0 0 -.006
5060 0 0 -.001
5067 0 .004 -.018
5068 0 .006 -.026
5075 0 .005 -.021
5136 0 .003 -.012
5137 0 0 -.002
5139 0 .002 -.008
5140 0 .002 -.012
5141 0 .004 -.023
5145 0 .002 -.005
5146 0 .003 -.013
5147 0 .004 -.018
5148 0 .006 -.028
5149 0 .002 -.009
5150 0 .004 -.019
5250 0 0 -.006
5258 0 .003 -.01
5286 0 .002 -.016
5287 0 0 -.003
5288 0 0 -.002
5304 0 0 -.007
5305 0 0 -.006
5321 0 .005 -.021
5322 0 .006 -.027
5330 0 .004 -.013
5331 0 .003 -.017
5332 0 .005 -.028
5333 0 0 -.003
