# This is a MakeHuman target originally developed by Manuel Bastioni.
#
# Original copyright (C) 2014 Manuel Bastioni 
#
# The copyright was explicitly transfered to other team members in 2016.
#
# Copyright (C) 2017 Data Collection AB, https://www.datacollection.se
# Copyright (C) 2017 Joel Palmius 
# Copyright (C) 2017 Jonas Hauquier
#
# The primary legal contact for MakeHuman is Data Collection AB.
#
# For more information, see homepage at http://www.makehuman.org
#
# This file is licensed AGPLv3
#
#    This file is part of MakeHuman (www.makehuman.org).
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# basemesh hm08
119 0 -.011 -.019
122 0 0 -.001
123 0 0 0
125 0 -.018 -.028
127 0 0 -.001
128 0 0 -.007
129 0 -.006 -.013
131 0 -.018 -.017
134 0 0 -.002
135 0 -.006 -.008
162 0 0 -.003
214 0 -.004 -.008
5062 0 -.004 -.008
5063 0 -.002 -.003
5064 0 -.006 -.014
5256 0 -.001 -.005
5257 0 -.004 -.011
6903 0 -.011 -.019
6906 0 0 -.001
6907 0 0 0
6909 0 -.018 -.028
6911 0 0 -.001
6912 0 0 -.007
6913 0 -.006 -.013
6940 0 0 -.003
6989 0 -.004 -.008
11679 0 -.004 -.008
11680 0 -.006 -.014
11864 0 -.001 -.005
11865 0 -.004 -.011
