# This is a MakeHuman target originally developed by Manuel Bastioni.
#
# Original copyright (C) 2014 Manuel Bastioni 
#
# The copyright was explicitly transfered to other team members in 2016.
#
# Copyright (C) 2017 Data Collection AB, https://www.datacollection.se
# Copyright (C) 2017 Joel Palmius 
# Copyright (C) 2017 Jonas Hauquier
#
# The primary legal contact for MakeHuman is Data Collection AB.
#
# For more information, see homepage at http://www.makehuman.org
#
# This file is licensed AGPLv3
#
#    This file is part of MakeHuman (www.makehuman.org).
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# basemesh hm08
114 0 .002 .014
115 0 .002 .017
116 0 0 .001
118 0 .001 .011
120 0 .007 .022
121 0 .008 .025
122 0 .005 .018
123 0 .002 .004
124 0 .005 .018
125 0 .003 .005
126 0 .010 .026
127 0 .012 .027
128 0 .013 .018
129 0 .008 .012
130 0 .007 .022
131 0 .009 .016
132 0 .014 .031
133 0 .015 .029
134 0 .016 .026
135 0 .014 .023
136 0 .011 .028
166 0 .001 .008
167 0 .003 .007
168 0 .006 .013
169 0 .005 .017
220 0 0 .002
5063 0 0 .001
6898 0 .002 .014
6899 0 .002 .017
6900 0 0 .001
6902 0 .001 .011
6904 0 .007 .022
6905 0 .008 .025
6906 0 .005 .018
6907 0 .002 .004
6908 0 .005 .018
6909 0 .003 .005
6910 0 .010 .026
6911 0 .012 .027
6912 0 .013 .018
6913 0 .008 .012
6914 0 .007 .022
6943 0 .001 .008
6944 0 .003 .007
6945 0 .006 .013
