# This is a target file for MakeHuman
# 
# This asset was explicitly released as CC0 in september 2020. The license
# text for CC0 can be found in the root of this repository.
#
# Original copyright (C) 2014 Manuel Bastioni 
#
# The copyright was explicitly transfered to other team members in 2016:
#
# Copyright (C) 2020 Data Collection AB, https://www.datacollection.se
# Copyright (C) 2020 Joel Palmius
# Copyright (C) 2020 Jonas Hauquier
#
# The primary legal contact for MakeHuman is Data Collection AB.
#
# For more information, see homepage at http://www.makehumancommunity.org
#
# basemesh hm08
11 0 0 -.003
91 0 0 -.005
4874 0 .033 -.012
4875 .007 .006 .002
4876 0 .029 -.053
4877 -.003 .01 -.022
4878 0 0 -.008
4895 0 .033 -.017
4896 0 .029 -.053
4897 0 .029 -.053
4898 0 .029 -.053
