# This is a MakeHuman target originally developed by Manuel Bastioni.
#
# Original copyright (C) 2014 Manuel Bastioni 
#
# The copyright was explicitly transfered to other team members in 2016.
#
# Copyright (C) 2017 Data Collection AB, https://www.datacollection.se
# Copyright (C) 2017 Joel Palmius 
# Copyright (C) 2017 Jonas Hauquier
#
# The primary legal contact for MakeHuman is Data Collection AB.
#
# For more information, see homepage at http://www.makehuman.org
#
# This file is licensed AGPLv3
#
#    This file is part of MakeHuman (www.makehuman.org).
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# basemesh hm08
7634 0 -.002 0
12013 0 -.005 .001
12019 0 -.052 .008
12027 0 -.072 .004
12028 0 -.076 -.007
12031 0 -.003 0
12035 0 0 0
12041 0 -.043 .010
12049 0 -.070 -.002
12050 0 -.072 -.001
12053 0 -.010 0
12057 0 0 0
12063 0 -.030 .006
12071 0 -.052 0
12072 0 -.047 0
12085 0 -.004 0
12093 0 -.010 .002
12094 0 -.006 0
12214 0 -.023 .002
12255 0 -.032 0
12264 0 -.042 .004
12311 0 -.002 0
12315 0 0 0
12328 0 0 0
12329 0 -.050 .012
12330 0 -.094 -.019
12331 0 0 0
12340 0 -.083 .003
12350 0 -.009 0
12358 0 -.020 .004
12365 0 -.019 .002
