[Desktop Entry]
Name=MakeHuman
Comment=MakeHuman is a free, open source tool for creating realistic 3D human characters.
Exec=/usr/bin/makehuman
Terminal=false
Type=Application
Icon=/usr/share/makehuman/icons/makehuman_bg.svg
Categories=Graphics

